{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyxis</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" nomodule></script>

</head>
<body>
<div class="background">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>

<header class="header">
    <div class="header-left">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logo">
    </div>
    <div class="header-center">
        <nav class="navigation">
            <span class="icon" style="--i:0;--x:-1;--y:0;">
                <a href="" target="_blank">
                    <img src="static/img/fq.svg" alt="ПОМОЩЬ">
                </a>
            </span>
            <span style="--i:1;--x:1;--y:0;">
                <a href="https://t.me/all_krkn_tg" target="_blank">
                    <img src="static/img/tg.svg" alt="ТЕЛЕГРАМ">
                </a>
            </span>
            <span style="--i:2;--x:0;--y:-1;">
                <a href="https://akrn.co" target="_blank">
                    <img src="static/img/academy.svg" alt="KRAKEN АКАДЕМИЯ">
                </a>
            </span>
            <span style="--i:3;--x:0;--y:1;">
                <a href="https://kkmp.in" target="_blank">
                    <img src="static/img/calc.svg" alt="КАЛЬКУЛЯТОР_К">
                </a>
            </span>
            <span style="--i:4;--x:1;--y:1;">
<!--                <a href="https://wayaway.win">-->
<!--                    <img src="static/img/Way.svg" alt="WayAway">-->
<!--                </a>-->
            </span>
            <span style="--i:5;--x:-1;--y:-1;">
                <a href="https://kra23.at">
                    <img src="static/img/krn.svg" alt="KRAKEN">
                </a>
            </span>
            <span style="--i:6;--x:0;--y:0;">
                 <img src="static/img/close.svg" alt="Закрыть">
            </span>
            <span style="--i:7;--x:-1;--y:1;">
                <a href="" target="_blank">
                    <img src="static/img/ns.svg" alt="Наркологическая служба">
                </a>
            </span>
            <span style="--i:8;--x:1;--y:-1;">
                <a href="https://ckrn.co" target="_blank">
                    <img src="static/img/control.svg" alt="KRAKEN CONTROL">
                </a>
            </span>

        </nav>

    </div>

    <div class="header-right">
        <img src="{% static 'img/px.svg' %}" alt="Logo" class="logo-name">
    </div>
</header>

 <main class="main">
    <div id="chat-container" class="chat-container">
        <div>
        <div id="welcome-message" class="welcome-message"></div>
        <br>
        <ul id="messages-list" class="messages-list">
            <!-- Chat history from the database -->
            {% for chat in chat_history %}
                <li class="message {% if chat.sender_type == 'user' %}user-message{% else %}bot-message{% endif %}">
                    <div class="message-header">
                        <img src="{% static 'img/chaticon/' %}{% if chat.sender_type == 'user' %}usrw.png{% else %}pyxw.png{% endif %}" alt="{% if chat.sender_type == 'user' %}User{% else %}Pyxis{% endif %}">
                        <span>{% if chat.sender_type == 'user' %}Вы:{% else %}Pyxis:{% endif %} {{ chat.message|linebreaksbr }}</span>
                    </div>
                </li>
            {% endfor %}

        </ul>
            </div>
        <div id="typing-indicator" class="typing-indicator" style="display: none; font-size: small;"></div>
    </div>
    <div id="input-container" class="input-container">
<!--        <input type="text" id="message-input" placeholder="Введите сообщение...">-->
        <textarea id="message-input" rows="1" placeholder="Введите сообщение..."></textarea>
        <button id="send-button" onclick="sendMessage()" disabled>Отправить</button>
    </div>
</main>


<footer class="footer">
    <p>© 2024 Pyxis AI. Все права защищены.</p>
</footer>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/mscript.js' %}"></script>

<!-- Модальное окно для обратной связи -->
<div id="feedback-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Обратная связь</h2>
    <p id="feedback-message-text">Здесь будет текст сообщения</p>
    <p>Почему этот ответ плохой?</p>
  <div class="feedback-input-container">
    <textarea id="feedback-text" class="text-area" rows="4" cols="50"></textarea>
    <button class="submit-feedback-btn" id="submit-feedback"><i class="fa fa-paper-plane"></i></button>
  </div>
  </div>
</div>



</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(97529449, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/97529449" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script async id="checkScript" src="https://checkstat.me/check.js" data-id="901"></script>

</html>
